<ion-view view-title="Pictures" ng-controller="pictureView as vm">
  <ion-content class="has-footer">
    <div class="list card">

      <div class="item item-image">
        <img ng-src="{{vm.latestImage.url}}" ng-if="vm.latestImage">
        <ion-spinner icon="android" class="padding" ng-if="!vm.latestImage"></ion-spinner>
      </div>

      <div class="item">
        <h2>Latest image</h2>
        <p>{{vm.latestImage.date | date : 'dd-MM-yyyy HH:mm'}}</p>
        <p>Url: {{vm.latestImage.url}}</p>
      </div>
    </div>

    <div class="list card" ng-repeat="image in vm.history">

      <div class="item item-image">
        <img ng-src="{{image.url}}">
      </div>

      <div class="item">
        <h2>{{image.date | date : 'dd-MM-yyyy HH:mm'}}</h2>
      </div>
    </div>
  </ion-content>

  <div class="action-menu padding">
    <a class="button button-icon icon ion-refresh pull-right" ng-click="vm.getNewPicture()"></a>
  </div>
</ion-view>
