<ion-view view-title="Schrodingers Duck" ng-controller="SchrodingerView as schrd">
    <ion-content class="videoView">
        <div>
            <div class="list card">
                <div class="item item-divider">
                    <p class="padding">
                        Is the duck inside the box alive or dead?
                    </p>
                </div>

                <div class="item row">
                    <div class="col">
                        <div class="button-bar">
                            <button
                                ng-click="schrd.toggleLight('alive')"
                                class="button  button-balanced">
                                Alive
                            </button>

                            <button
                                ng-click="schrd.toggleLight('dead')"
                                class="button button-assertive">
                                Dead
                            </button>
                            <button
                                ng-click="schrd.toggleLight('wood')"
                                class="button  button-calm">
                                Who would put a duck in there
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            Clicked: {{schrd.history['alive']}}

                        </div>
                    </div>
                    <div class="col">
                        <div class="row">

                            Clicked: {{schrd.history['dead']}}
                        </div>

                    </div>
                    <div class="col">
                        <div class="row">

                            Clicked: {{schrd.history['wood']}}
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="list card">

            <div class="item item-image" ng-class="{
                'fixed-video-stream-android': schrd.isAndroid,
                'fixed-video-stream-desktop': !schrd.isAndroid
            }">
                <img ng-src="{{schrd.stream.url}}" ng-if="schrd.stream.url" class="img-flip-correction"/>
            </div>
        </div>
    </ion-content>
</ion-view>
