<ion-view view-title="Video" ng-controller="videoView as vm">
    <ion-content class="videoView">
        <div class="list card">

            <div class="item item-image" style="height: 395px">
                <!--<img ng-src="{{vm.streamUrl}}" class="" stream/>-->
                <stream url="{{vm.stream.url}}" ng-if="vm.stream"></stream>
            </div>

            <div class="item">
                <h2>Video</h2>
            </div>
        </div>


        <div ng-controller="LightView as lights" ng-init="lights.init()">
            <div class="list card" ng-repeat="(room, devices) in lights.gui track by $index">
                <div class="item item-divider">
                    <p class="padding">{{room}}</p>
                </div>

                <div class="item row">
                    <div class="col" ng-repeat="device in devices track by $index">
                        <div class="padding text-center">
                            <i class="icon {{lights.getIconByDevice(device)}}"></i>
                        </div>

                        <div class="button-bar">
                            <light-button type="on" device="device"></light-button>
                            <light-button type="off" device="device"></light-button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>
