.item-divider p {
  font-size: 18px;
}

ion-content {
  background-color: #f2f2f2;
}

.loading-padding-top > svg {
  padding-top: 10px !important;
}

.loadingRoom-padding > svg {
  padding-top: 7px;
  padding-right: 10px;
}

.action-menu {
  position: absolute;
  bottom: 45px;
  right: 0;
}
.action-menu a {
  float: right;
}

button.isOn.button-balanced {
  box-shadow: 0 0 15px #28a54c
}

button.isOff.button-assertive {
  box-shadow: 0 0 15px #e42012;
}
