/*/!* ----------- Non-Retina Screens ----------- *!/*/
/*@media screen*/
/*and (min-device-width: 1200px)*/
/*and (max-device-width: 1600px)*/
/*and (-webkit-min-device-pixel-ratio: 1) {*/
    /*.view-container, .nav-bar-container {*/
        /*max-width: 600px;*/
    /*}*/
/*}*/

/*/!* ----------- Retina Screens ----------- *!/*/
/*@media screen*/
/*and (min-device-width: 1200px)*/
/*and (max-device-width: 1600px)*/
/*and (-webkit-min-device-pixel-ratio: 2)*/
/*and (min-resolution: 192dpi) {*/
    /*.view-container, .nav-bar-container {*/
        /*max-width: 600px;*/
    /*}*/
/*}*/

.item-divider p {
    font-size: 18px;
}

ion-content {
    background-color: #f2f2f2;
}

.loading-padding-top > svg {
    padding-top: 10px !important;
}

.loadingRoom-padding > svg {
    padding-top: 7px;
    padding-right: 10px;
}

.action-menu {
    position: absolute;
    bottom: 45px;
    right: 0;
}

.action-menu a {
    float: right;
}

.video-stream-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    vertical-align: middle;
    left:0;
}

.video-state {
    text-transform: capitalize;
}

.fixed-video-stream-desktop {
    height:400px
}

.fixed-video-stream-android {
    height:255px;
}


button.isOn.button-balanced {
    box-shadow: 0 0 10px 2px #28a54c
}

button.isOff.button-assertive {
    box-shadow: 0 0 10px 2px #e42012;
}

.img-flip-correction {
    -webkit-transform: scale(-1, -1);
}

.videoView .button-small i {
    margin-left: -5px;
}

.videoView .icon {
    font-size: 25px;
}

/* Container box to set the sides relative to */
.my-toast > .title-right {
    /*width: 30%;*/
    /*text-align: center;*/
    /*margin: 0 auto;*/
    height: 100%;

    -webkit-transition: -webkit-transform .33s;
    transition: transform .33s; /* Animate the transform properties */

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; /* <-NB */
}

/* Position the faces */
.my-toast. ready {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
}

.my-toast .showing {
    -webkit-transform: rotateX(-90deg) translateZ(-50px);
    transform: rotateX(-90deg) translateZ(-50px);
}

/* Rotate the cube */
.my-toast > .title-right:hover {
    -webkit-transform: rotateX(89deg);
    transform: rotateX(89deg); /* Text bleed at 90º */
}

